<div class="chat-component">

    <div class="chat-header" (click)="minimize()" [hidden] = "!closed">
        <h5>Chat</h5>
    </div>

    <div class="chat-header" [hidden] = "closed">
        <img src="https://img.icons8.com/flat_round/64/000000/circled-left-2.png
                https://img.icons8.com/flat_round/64/000000/circled-left-2.png
                " style="width: 25px;" (click)="changeView()" [hidden]="singleMessageView" />
        <h5>Chat</h5>
        {{searchText}}
        <button type="button" class="close" aria-label="Close" (click)="minimize()">
            <span aria-hidden="true">&times;</span>
        </button>

    </div>

    <div class="chat-body" [hidden]="closed">

        <div class="chat-messaging-body" [hidden]="singleMessageView">
            <div class="message-display" id="message-display">
                <ul class="allMessages">
                    <li *ngFor="let msg of messageList" class="singleMessage">
                        <div class="message-sent" style="width: 90%; float: right;">
                            <div class="alert alert-primary" style="max-width: 100%; margin-top: 5px; 
                                    margin-bottom: 5px;">
                                {{msg.content}}
                            </div>
                            <span>
                                {{msg.timeStamp | date:'short'}}
                            </span>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="message-form">
                <form form (ngSubmit)="sendMessage(message)" #messageForm="ngForm">
                    
                    <textarea placeholder="Type message.." required id="content"
                        [(ngModel)] = "message.content" name="content" #messagecontent = "ngModel"></textarea>
                    
                    <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>Send</button>
                </form>
            </div>
        </div>

        <div class="chat-list-body" [hidden]="!singleMessageView">

            <!--<div class="search">
                
                <span class="input-group-addon">
                    <button type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                </span> 
            </div> -->
            <input [(ngModel)]="searchText" placeholder="Search Employers" class="advancedSearchTextbox">
            <p></p>
            <table>
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Candidate Name</th>
                    </tr>
                </thead>
                <tbody *ngFor ="let chat of chatList">
                    <tr>
                        <td>
                            <div (click)="selectChat(chat)">
                                <span class="candidate-name">{{chat.user2.firstName}} {{chat.user2.lastName}}</span><br>
                                <span class="chat-preview">Beginnning of last message sent...</span>
                            </div>
                        </td>
                        <!-- <td>{{chat.name}}</td> -->
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

</div>

