<div class="chatbox">
    <div class="msgbox" (click)="minimize()">
        <i class="far fa-minus-square" ></i>
        <span> Message</span>
    </div>
    <div class="chatcontent" [hidden]="closed">
        <div class="messageContent" id="messageContent">
            <ul class="allMessages">
                <li *ngFor="let msg of messageList" class="singleMessage">
                    <span>{{msg.content}}</span> <br>
                    <span>{{msg.timeStamp}}</span>
                </li>
            </ul>
        </div>
        <div class="messageSending" #scrollMe>

            <form (ngSubmit)="sendMessage(message)" #messageForm="ngForm">
                <!-- Message text box -->
                <div class="form-group">
                    <input type="text" class="form-control" id="content" required autocomplete="off"
                            [(ngModel)] = "message.content" name="content" #messagecontent = "ngModel">
                </div>
                <!-- Submit button -->
                <button type="submit" class="btn btn-success">Send</button>
            </form>

        </div>
    </div>
</div>



<div class="chat-component">

    <div class="chat-header" (click)="minimize()">
        <img src="https://img.icons8.com/flat_round/64/000000/circled-left-2.png
                https://img.icons8.com/flat_round/64/000000/circled-left-2.png
                " style="width: 25px;" (click)="openMessage()"/>
        <h5>Chat</h5>
        <button type="button" class="close" aria-label="Close" (click)="closeForm()">
            <span aria-hidden="true">&times;</span>
        </button>

    </div>

    <div class="chat-body">
        <div class="message-display" id="message-display">
            <ul class="allMessages">
                <li *ngFor="let msg of messageList" class="singleMessage">
                    <span>{{msg.content}}</span> <br>
                    <span>{{msg.timeStamp}}</span>
                </li>
            </ul>
        </div>

        <div class="message-form">
            <form form (ngSubmit)="sendMessage(message)" #messageForm="ngForm">
                
                <textarea placeholder="Type message.." required id="content"
                    [(ngModel)] = "message.content" name="content" #messagecontent = "ngModel"></textarea>
                
                <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>Send</button>
            </form>
        </div>
    </div>

</div>