<div class="chat-component">

    <div class="chat-header" (click)="minimize()" [hidden] = "!closed">
        <h5>Chat</h5>
    </div>

    <div class="chat-header" [hidden] = "closed">
        <img src="https://img.icons8.com/flat_round/64/000000/circled-left-2.png
                https://img.icons8.com/flat_round/64/000000/circled-left-2.png
                " style="width: 25px;" (click)="changeView()" [hidden]="singleMessageView" />
        <h5>Chat</h5>
        <button type="button" class="close" aria-label="Close" (click)="minimize()">
            <span aria-hidden="true" style="float: right; padding-right: 10px; border: 
                none;">&times;</span>
        </button>
    </div>

    <div class="chat-body" [hidden]="closed">

        <div class="chat-messaging-body" [hidden]="singleMessageView">
            <div class="message-display" id="message-display">

                <!-- this div controls the scroll feature by calling on the methods in the ts -->
                <div #scroller class="feedWrapper" style="overflow: scroll; height: 100%; overflow-x: hidden;" id="scroller">
                    <ul class="allMessages">
                        <li *ngFor="let msg of messageList" class="singleMessage">

                            <!-- removed width from inline css already set to 100% 
                            now message wraps and stays inside blue alert box-->
                            <div class="message-sent" style="width:90%; float: right;">
                               
                                <div [ngClass]="msg.sender.id == currentUser ? 'alert alert-primary' : 'alert alert-secondary' " style="max-width: 100%; margin-top: 5px; 
                                        margin-bottom: 5px; align-items: stretch;"
                                       >
                                    {{msg.message}}
                                </div>
                                <span>
                                    {{msg.timeStamp | date:'short'}}
                                </span>
                            </div>

                        </li>
                    </ul>
                </div>

            </div>

            <div class="message-form">
                <form form (ngSubmit)="sendMessage(message)" #messageForm="ngForm">
                    
                    <textarea placeholder="Type message.." required id="content"
                        [(ngModel)] = "message.message" name="content" #messagecontent = "ngModel"></textarea>
                    
                    <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>Send</button>
                </form>
            </div>
        </div>

        <div class="chat-list-body" [hidden]="!singleMessageView">

            <!--<div class="search">
                
                <span class="input-group-addon">
                    <button type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                </span> 
            </div> -->
            <input [(ngModel)]="searchText" placeholder="Search Employers" class="advancedSearchTextbox">
            <p></p>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" *ngIf="userIsEmployer">Candidate</th>
                        <th scope="col" *ngIf="!userIsEmployer">Employer</th>     
                    </tr>
                </thead>
                <tbody *ngFor ="let chat of chatList | grdFilter: searchText:userIsEmployer">
                    <tr>
                        <td>
                            <div (click)="selectChat(chat)" class="single-chat">
                                <span style="float: left; padding-right: 20px; padding-bottom: 20px; color: lightblue;"><i class="fas fa-user fa-2x"></i></span>
                                <span class="chat-user" *ngIf="userIsEmployer">{{chat.user2.firstname}} {{chat.user2.lastname}}</span>
                                <span class="chat-user" *ngIf="!userIsEmployer">{{chat.user1.firstname}} {{chat.user1.lastname}}</span><br>
                                <span class="chat-preview">This is the last message sent...</span>
                            </div>
                        </td>
                        <div *ngIf="notifs[chat.id]" >
                            <td>
                                {{notifs[chat.id]}}                               
                            </td>
                        </div>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

</div>

